.header {
    color: whitesmoke;
}

.main-div {
    background-color: aliceblue;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.top-row {
    height: 350px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

.second-row {
    height: 350px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}
.third-row {
    height: 350px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
}

.content {
    background-color: aquamarine;
    height: 100%;
    width: 30%;
}