.header {
    color: whitesmoke;
}

.main-div {
    background-color: #282c34;
    width: 77%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.top-row {
    height: 510px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.second-row {
    height: 420px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}
.third-row {
    height: 400px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.content {
    background-color: aquamarine;
    height: 100%;
    width: 30%;
    border-radius: 4px;
}

.content { transition: all .2s ease-in-out; }
.content:hover { transform: scale(1.04); }

.content-2 {
    background-color: aquamarine;
    height: 100%;
    width: 47%;
    border-radius: 4px;
}

.content-2 { transition: all .2s ease-in-out; }
.content-2:hover { transform: scale(1.04); }


.content-3 {
    background-color: aquamarine;
    height: 100%;
    width: 97%;
    border-radius: 4px;
}

.content-3 { transition: all .2s ease-in-out; }
.content-3:hover { transform: scale(1.04); }
